@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #0193dd;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.center {
    text-align: center;
}
h1 {
    margin-bottom: 15px;
}
.logo {
    margin: 15px;
    max-height: 100px;
    width: auto;
    border-radius: 10px;
}
.card-container {
    max-width: 320px;
    margin: 20px auto 0;
}

#card-element, input[type="email"], input[type="text"] {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    background: #0193dd;
    color: #fff;
    width: 100%;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
input[type="email"]::placeholder, input[type="text"]::placeholder {
    color: #fff;
    font-weight: bold;
}
button {
    background: #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #0193dd;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
button.loading {
    background: #cccccc;
}
#message {
    border: 1px solid #fff;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    min-height: 40px;
    margin-top: 10px;
    visibility: hidden;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}
#message.error {
    border-color: #df5522;
    color: #df5522;
}
#message.show {
    visibility: visible;
}
ul {
    margin: 30px;
}
ul li {
    margin-bottom: 5px;
}
a,
a:visited,
a:link {
    color: #fff;
}
.container {
    max-width: 1280px;
    padding: 15px;
}
.instructions em {
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
    background: #cccccc;
    color: #000;
    padding: 1px 5px 0;
}
hr {
    margin: 30px;
}
.mb-5 {
    margin-bottom: 2em;
}
h2 {
    margin-bottom: 10px;
}